---
import Base from "@/layouts/Base.astro";
import { navigation, siteData } from "@/consts";
import { getTags, getCourses } from "@/offcourse/db";
import { CourseCollection } from "@/offcourse";

export async function getStaticPaths() {
  const tags = await getTags();
  const promises  = tags.map(async (tag: string) => {
  const courses  = await getCourses({ tag });
    return { params: { tag: tag }, props: { courses }}
  })
  return await Promise.all(promises);
}


const { courses } = Astro.props;
---

<Base {navigation} {siteData}>
  <div class="bg-white py-24 sm:py-32">
    <CourseCollection courses={courses} client:load/>
  </div>
</Base>
