---
import Link from "../components/NavLink.astro";

interface Props {
  action: string
}

const { action } = Astro.props;
---
<div class="mt-10 flex items-center justify-center gap-x-6">
  <a
    href="#"
    class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  >
    {action}
  </a>
  <Link href="#" >
    Learn more <span aria-hidden="true">→</span>
  </Link>
</div>
