<div class="divide-y divide-gray-200 max-w-sm	overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6">
    <slot name="header"/>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <slot />
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <slot name="footer"/>
  </div>
</div>
