---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import Avatar from '@/components/Avatar';

import { Separator } from "@/components/ui/separator"


import { Button } from "@/components/ui/button"
import Checkpoint from "@/components/Checkpoint.astro";



type Checkpoint = {
  task: string,
  href: string
}

interface Props {
  goal: string,
  description: string,
  checkpoints: Checkpoint[],
  curator: string
}

const { goal, description, checkpoints, curator } = Astro.props;
---
<Card className="w-[360px]">
  <CardHeader>
    <CardTitle className="my-4">{goal}</CardTitle>
    <Separator />
    <Avatar curator={curator}/>
    <Separator />
    <CardDescription>{description}</CardDescription>
  </CardHeader>
  <CardContent>
    <ul>
      {checkpoints.map((cp, index) => (
      <Checkpoint {...cp} index={index} />
      ))
      }
    </ul>
  </CardContent>
  <CardFooter>
    <Button className="w-full">
      Edit
    </Button>
  </CardFooter>
</Card>
