---
import type { NavItem } from "../types";

import SideBarContainer from "../containers/SideBar";
import Link from "../components/NavLink.astro";

interface Props {
  navigation: NavItem[]
}

const { navigation } = Astro.props;

const linkStyles = "-mx-3 block rounded-lg px-3 py-2.5 text-base leading-7 hover:bg-gray-50"
---
<SideBarContainer client:load>
  <div class="fixed inset-0 z-10"></div>
  <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
    <div class="flex items-center justify-between">
      <slot name="logo" />
      <slot name="menu-button"/>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          {navigation.map(({href,name}: NavItem) => (
          <Link href={href} class={linkStyles}>{name}</Link>))}
        </div>
        <div class="py-6">
          <Link href="#/login" class={linkStyles}>Log in</Link>
        </div>
      </div>
    </div>
  </div>
</SideBarContainer>
