---
import CaseComponent from "../components/Case.astro";
import type { CollectionEntry } from 'astro:content';

type Case = CollectionEntry<'cases'>

interface Props {
  title: string;
  description: string;
  cases: Case[]
}

const { title, description, cases } = Astro.props;
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{title}</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        {description}
      </p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {cases.map(({slug, data}) => (<CaseComponent href={slug} {...data} />))}
    </div>
  </div>
</div>
