---
import type { Step } from "../types";

import StepComponent from "../components/Step.astro";

interface Props {
 problem: string;
 payoff: string;
 steps: Step[]
}

const { problem, payoff, steps } = Astro.props;
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">Ecosystem Architecture</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      { payoff }
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        {problem}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        {steps.map(step => (
        <StepComponent {...step} href="about"/>
        ))}
      </dl>
    </div>
  </div>
</div>

