---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../sections/Footer.astro";
import Logo from "../components/Logo.astro";
import Header from "../sections/Header.astro"
import MenuButton from "../components/MenuButton.svelte";

const { navigation, siteData } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead {...siteData} />
  </head>
  <body>
    <Header {navigation} >
      <Logo slot="logo" />
      <MenuButton slot="menu-button" client:load/>
    </Header>
    <slot/>
    <Footer {navigation} />
  </body>
</html>
