---
import Base from "@/layouts/Base.astro";
import { navigation, siteData } from "@/consts";
import { getCourses } from "@/offcourse/db";
import { CourseCollection } from "@/offcourse";

const courses  = await getCourses()
---

<Base {navigation} {siteData}>
  <div class="bg-white py-0 sm:py-32">
    <CourseCollection courses={courses} client:load/>
  </div>
</Base>
